################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookStores/v16
/BlazorServerApp/.vs/BlazorApp/v16
/BlazorServerApp/.vs/BlazorServerApp
