@page "/index"
@using BlazorServerApp.Data
@using Blazored.LocalStorage
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorageService

<AuthorizeView Roles="Publisher" Policy="SeniorEmployee">
    <Authorized>
        <h3><b>You are a Publisher & SeniorEmployee</b></h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized</h3>
    </NotAuthorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
    }

}