@page "/index"
@using BlazorServerApp.Data

<h1>Hello, world!</h1>
<p>Welcome to your new app</p>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You are signed out!!!</p>
    </NotAuthorized>
</AuthorizeView>

@*<Component1></Component1>*@
