@page "/"
@using BlazorServerApp.Data
@using Blazored.LocalStorage
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorageService

<AuthorizeView>
    <Authorized>
        <h3>Welcome, <b>@context.User.Identity.Name</b></h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are signed out!!!</h3>
    </NotAuthorized>
</AuthorizeView>

@*<Component1></Component1>*@

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var accessToken = await localStorageService.GetItemAsync<string>("accessToken");

        if (accessToken == null)
            navigationManager.NavigateTo("/login");
    }
}